.container {
	padding: 30px;
	border: 2px solid black;
}

hr {
	background-color: #0275d8;
	height: 5px;
}

#name{
	color: #0275d8;
}

#DP {
	border-radius: 60%;
	border: 5px solid black;
	width: 226px!important;
    max-width: 190px!important;
    max-height: 190px!important;
    height: 226px!important;
	align-content: center;
}

.icon {
	margin-left: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.float-right {
	text-align: right;
}

.badge {
	font-size: 17px;
	margin: 5px;
}

.cust-text {
	font-size: 18px;
}

.text-muted {
	margin-top: -20px; 
	font-size: 15px; 
	font-style: italic;
}

.text-primary {
	margin-top: -20px; 
	font-size: 15px; 
	font-style: italic;
}

.disabled {
	color: black !important;
	font-weight: bold;
	margin-top: 5px;
}